{% load static %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<body>
	<div class="container-fluid text-center">
		<h1 class="frozito-font italics bold">Stat<span class="livemas-font">5</span></h1>
	</div>
	<div class ="container">
		<div class="row justify-content-center frozito-font">
		{% for c in current_summoner %}
			<div class="row justify-content-center">
			<h2 class="col-12">{{c.summonerName}}</h2>
			</div>
			<div class="livemas-font col-12">	
				<div class="row justify-content-center">
				<img style="width:10%" src="/static/ranked-emblems/Emblem_{{c.tier}}.png">
				</div>
				<div class="row justify-content-center">
				<h2>{{c.tier}} {{c.rank}}</h2>	
				</div>
			</div>
			<br>
			<div class="livemas-font col-12 justify-content-center" style="display:flex">
				<h3>Wins ( {{c.wins}} )- Losses ( {{c.losses}} )</h3>	
			</div>			
		{% endfor %}
		</div>
		<div class="row justify-content-center" style="display:flex; position:relative;">
		{% for t in mytopfive %}
			<div class="col-2" style="position:relative;padding:15px">
				<img class="champion-image-border" src={{t.img}}>
				<p class="champion-level">{{t.champion_level}}</p>
				<p class="frozito-font">{{t.name}}</p>	
				<p>{{t.champion_points}}</p>
			</div>
			<br>
		{% endfor %}	
		</div>
	</div>
</body>
